// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cur-player-selector,
.balls-selector,
.supporter-bar,
.live-feed {
  margin-bottom: 1.5rem;
}

.events {
  display: flex;
  flex-direction: column-reverse;

  & > li {
    padding: .8rem;
    font-size: 1.1rem;

    border-left: .3rem #000 solid;
  }
}

.event {
  &--with-separator {
    border-left: .3rem #000 solid;

    background-color: #ffffed;
    margin-bottom: .85rem;
  }
}

.ball {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  background-color: #fff;
  border: .1rem #000 solid;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.supporter-bar {
  font-size: 2rem;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cur-player-selector {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__input {
    visibility: hidden;
    position: absolute;
  }

  &__vs,
  &__label {
    margin-right: 1.5rem;
    font-size: 2rem;
  }

  &__label {
    display: block;
    cursor: pointer;
    padding: 2.5rem;
    border: .1rem #000 solid;
  }

  &__input:checked + &__label {
    background-color: #ffffed;
  }
}
