// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.live-feed {
}

.header {
}

.lineup {
  font-size: 1.25rem;
  text-align: center;
}
.bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffed;
  opacity: .95;
  line-height: 2rem;
  padding: .5rem;

  &--supporter {
    font-size: 2.5rem;
    line-height: 2.6rem;
  }

  &--scribe {
    // background-color: #ffffed;
  }
}

.events {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 5rem;
}

.turn {
  padding: .8rem;
  border-left: .3rem #000 solid;
  margin-bottom: .5rem;

  &:last-of-type {
    background-color: #ffffed;
  }

  &__player {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

.event {
}

.rule-container {
  background-color: #ffffed;
  padding: .5rem;
  font-size: 1rem;
  color: white;
  background-color: black;
}

.reactions-container {
  margin-top: .8rem;
  font-size: 2rem;
}

.player {
  background-color: #fff;
  border: .1rem #000 solid;
  border-radius: 10%;
  padding: .25rem;
}

.ball {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  background-color: #fff;
  border: .1rem #000 solid;
  margin: .1rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.qr-code {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

@media all and (max-width: 499px) {
  .qr-code {
    display: none;
  }
}
