<li class="turn">
  <div class="turn__player"><%= player_name %> joue</div>
  <div class="rule-container"><%= rule %></div>
  <div class="reactions-container"></div>
  <ul class="events-container"></ul>
</li>
